# --- Android Studio & IntelliJ ---
*.iml
.gradle/
local.properties
.idea/
/build/
/captures/
.externalNativeBuild/
.cxx/

# --- App Specific Builds ---
# This ensures build folders inside the 'app' module are also ignored
**/build/

# --- Output Artifacts ---
*.apk
*.aar
*.ap_
*.dex

# --- System Files ---
.DS_Store
thumbs.db

# --- Log files ---
*.log